@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 34px;
}

.square:hover {
  background-color: #999;
}

.board-row {
  display: flex;

}

.transition-btn {
  border: 2px solid black;
  border-radius: 6px;
  margin: 10px;
}

.transition-btn:hover {
  background-color: rgba(240, 225, 195, 0.664);
}