@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 10px;
  background-color: antiquewhite;
}

.game {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.header {
  margin-bottom: 20px;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 34px;
}

.square:hover {
  background-color: #d6d6d6;
}

.board-row {
  display: flex;

}

.transition-btn {
  border: 2px solid black;
  border-radius: 6px;
  margin: 10px;
}

.transition-list {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.transition-btn:hover {
  background-color: rgba(240, 225, 195, 0.664);
}